@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap");

:root {
  --primary-color: #fbc85b;
  --primary-text-color: #4e534f;
  --primary-background-color: #e1e4e6;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: y;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
button {
  font-family: inherit;
}
button:active {
  transform: scale(0.98);
}

.main_container {
  width: 80%;
  max-width: 1000px;
}

/* header section */
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: var(--primary-color);
}
.search_container {
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.search_container input {
  width: 85%;
  padding: 0px 10px;
  margin-left: 10px;
}

.search_container button {
  width: 15%;
  border: none;
  background-color: var(--primary-color);
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--primary-text-color);
}
.search_container button span {
  display: none;
}
@media (max-width: 550px) {
  .search_container button span {
    display: block;
    font-weight: bold;
  }
  .search_container button b {
    display: none;
  }
}

@media (max-width: 800px) {
  .search_container {
    width: 70%;
  }
}

.fav_meal_container {
  width: 100%;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  overflow-x: scroll;
  border-radius: 5px;
  padding-bottom: 10px;
}

.fav_meal_container h3 {
  font-size: 20px;
  margin: 5px 15px;
}

.fav_meal_container ul {
  display: flex;
  justify-content: start;
  margin: 20px;
}

.fav_meal_container ul li {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px;
}

.fav_meal_container ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav_meal_container ul li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px 2px rgba(78, 83, 79, 0.8);
  margin: 10px 0px;
}

.fav_meal_container ul li span {
  font-size: 12px;
  margin-top: 7px;
}
.clsBtn {
  font-size: 12px;
  margin-top: 7px;
  padding: 0.1px 5px;
  border: none;
  font-weight: bold;
  border-radius: 50%;
  color: var(--primary-text-color);
  cursor: pointer;
}

.clsBtn:hover {
  color: var(--primary-color);
  background-color: var(--primary-text-color);
}
/* Recipe of the day section */

.Day_meal_container {
  width: 100%;
  margin-top: 20px;
}
.Day_meal_text {
  margin-left: 15px;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}

.Day_meal_text h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.Day_meal_text div {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  line-height: 15px;
  margin: 0px 5px;
  font-size: 14px;
}

.bottom_container {
  height: 350px;
  display: flex;
  margin-bottom: 20px;
}

.bottom_container img {
  width: 50%;
}

.right_container {
  height: 100%;
  width: 50%;
  padding: 20px;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
}

.right_container h3 {
  font-size: 25px;
  color: var(--primary-text-color);
  margin: 20px 0px;
}

.right_container p {
  font-size: 15px;
  line-height: 24px;
  padding-right: 24px;
  flex: 1;
}

.right_container .recipeBtn {
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recipeBtn .btn1 {
  height: 85%;
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-weight: bold;
  color: var(--primary-text-color);
  cursor: pointer;
}

.recipeBtn .btn2 {
  height: 85%;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--primary-text-color);
  cursor: pointer;
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-color);
}

.recipeBtn .btn1:hover {
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-color);
  transition: 0.1s ease-in-out;
}

.recipeBtn .btn2:hover {
  background-color: var(--primary-color);
  border: none;
  transition: 0.1s ease-in-out;
}
.random_meal_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random_meal_container h6 {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.random_meal_container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 20px;
}

.random_meal_container ul li {
  border-radius: 5px;
  overflow: hidden;
  min-width: 250px;
}
.random_meal_container .top_container {
  overflow: hidden;
  background-color: var(--primary-background-color);
}

.random_meal_container .top_container img {
  width: 100%;
  max-height: 300px;
}
.random_meal_container .bottom_container {
  height: 250px;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
.random_meal_container .bottom_container h2 {
  font-size: 20px;
  padding: 10px 30px 5px 10px;
}
.random_meal_container .bottom_container p {
  font-size: 14px;
  padding: 10px;
  flex: 1;
  padding-right: 30px;
}
.random_meal_container .bottom_container div {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 250px;
}
.random_meal_container .bottom_container div .btn1 {
  padding: 7px 14px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-weight: bold;
  color: var(--primary-text-color);
  cursor: pointer;
}
.random_meal_container .bottom_container div .btn2 {
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--primary-text-color);
  cursor: pointer;
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-color);
}

.random_meal_container .bottom_container div .btn1:hover {
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-color);
  transition: 0.1s ease-in-out;
}
.random_meal_container .bottom_container div .btn2:hover {
  background-color: var(--primary-color);
  border: none;
  transition: 0.1s ease-in-out;
}

.get_more_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 0px;
}
.get_more_container button {
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}
.get_more_container button:active {
  transform: scale(0.98);
}

.addedToFav {
  color: #fbc85b !important;
  background-color: #4e534f;
  border: "none";
  cursor: "not-allowed";
}

@media (max-width: 900px) {
  .random_meal_container ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .bottom_container {
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .bottom_container img {
    width: 100%;
  }
  .right_container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .main_container {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .random_meal_container ul {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
